PRIVATE.txt
PRIVATE.Dockerfile
doc/images/*_original.png
src/bot/__pycache__/
src/filters/__pycache__/
src/handlers/__pycache__/
src/storage/__pycache__/
src/utils/__pycache__/
src/whisper_helper/__pycache__/