BOT_TOKEN=abc

ADMIN_USER_ID=123456789

# Available values are, defaults to TINY if mispelled:
# >TINY             >TINY_EN
# >BASE             >BASE_EN
# >SMALL            >SMALL_EN
# >MEDIUM           >MEDIUM_EN
# >LARGE_V1         >LARGE_V2
# >LARGE_V3         >LARGE
# >LARGE_V3_TURBO   >TURBO
MODEL_NAME=TINY